*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea/caches/
/.idea/codeStyles/
/.idea/misc.xml
/app/libs/
.idea/gradle.xml
app/build.gradle
.idea/modules.xml
.idea/dictionaries/
.idea/modules.xml
.idea/gradle.xml
gradle/wrapper/gradle-wrapper.properties
