*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/compiler.xml
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
.idea/dictionaries/
.idea/misc.xml
.idea/jarRepositories.xml
/.idea/migrations.xml
/.idea/deploymentTargetDropDown.xml
